[package]
name = "pcsc-rs"
version = "1.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arc-swap = "=1.6.0"
cfg-if = "=1.0.0"
dotenvy = "=0.15.7"
regex = "=1.8.4"
rust_socketio = "=0.4.1"
serde = { version = "=1.0.163", features = ["derive"] }
serde_derive = "=1.0.164"
serde_json = "=1.0.96"
sysinfo = "=0.29.2"

[target.'cfg(windows)'.build-dependencies]
winres = "=0.1.12"

[target.'cfg(not(any(target_os = "windows", target_os = "macos", target_os = "ios")))'.dependencies]
openssl = { version = "=0.10.54", features = ["vendored"] }
