[package]
name = "pcsc-rs"
version = "0.2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arc-swap = "=1.6.0"
cfg-if = "=1.0.0"
dotenvy = "=0.15.7"
openssl = "0.10.52"
regex = "=1.8.1"
rust_socketio = "=0.4.1"
serde = { version = "=1.0.160", features = ["derive"] }
serde_derive = "=1.0.160"
serde_json = "=1.0.96"
sysinfo = "=0.28.4"

[target.'cfg(windows)'.build-dependencies]
winres = "=0.1.12"
