[package]
name = "pcsc-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dotenvy = "=0.15.6"
rust_socketio = "=0.4.0"
serde = { version = "=1.0.152", features = ["derive"] }
serde_json = "=1.0.91"
sysinfo = "=0.27.6"
