name: DO NOT MERGE

on:
  pull_request:
    types:
      - opened
      - labeled
      - unlabeled

permissions:
  pull-requests: read

jobs:
  do-not-merge:
    name: '!!!'
    if: github.event.label.name == 'do NOT merge!!!'
    runs-on: ubuntu-22.04
    steps:
      - run: |
          if ${{ contains(github.event.pull_request.labels.*.name, 'do NOT merge!!!') }}; then
            false
          else
            true
          fi
